<!-- element.add and .remove for icons? -->
<body>
    <div class="container-d">
         <h1>Your Current Forecast</h1>
         <%- include('header') %>
        <div id="buttons">
            <button class="button" onclick="showCelsius()">Show Celsius</button>
            <button class="button" onclick="showFahrenheit()">Show Fahrenheit</button>
        </div>
    
        <div>
         <!-- Use ejs to output weather data that results from the api call in app.js file-->
            <%= weather %>
            <h3 id="f"><%= fahrenheit%>ยบ</h3>
            <h3 id="c"><%= celsius%>ยบ</h3>
            <!--Remove soon and use javascript to logic out what icon show -->
            <img src="<%= displayIcon%>" alt="not">
        </div>
    
        <script>
        // This is the default display before any button is clicked
        document.getElementById("c").style.display = "none";

        function showCelsius() {
            document.getElementById("f").style.display = "none";
            document.getElementById("c").style.display = "block";

        }
        function showFahrenheit() {
            document.getElementById("f").style.display = "block";
            document.getElementById("c").style.display = "none";

        }
    </script>
    </div>

</body>
